/* src/components/Header.css */

.header {
  background-color: #343a40;
  color: white;
  padding: 10px 20px; /* Reduced padding to make the header smaller */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content {
  display: flex;
  align-items: center;
  width: 100%;
}

.logo {
  height: 40px; /* Adjust logo height if needed */
}

.logout {
  margin-left: auto;
}

.logout a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  background-color: #007bff;
  border-radius: 5px;
}

.logout a:hover {
  background-color: #0056b3;
}
